/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 *{
   margin: 0;
   padding: 0;
 }
 body {
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum","tnum";
}
 li{
   list-style: none;
 }
 a{
   text-decoration: none;
 }
 .clearfix::after{
   content: "";
   display: block;
   clear: both;
 }
 .top_title{
   /* text-align: center; */
   /* height: 50px;
   line-height: 50px; */
   font-size: 18px;
 }
 .top_title .tit{
   width: 33.33%;
    float: left;
    line-height: 50px;
    height: 50px;
 }
 .top_title .title_middle{
    text-align: center;
 }
 .top_ul li{
   font-size: 14px;
   display: inline-block;
   height: 50px;
   line-height: 50px;
   padding: 0px 20px;
   cursor: pointer;
   border-bottom: 2px solid #ffffff;
   color: #333333;
 }
 .top_ul li:hover{
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
 }
 .top_ul{
  border-bottom: 1px solid #e8e8e8;
 }
 .content{
  /* background: rgb(238, 238, 238); */
   /* width: 1345px;
   margin: auto; */
   padding-bottom: 100px;
 }
 .content_ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
 }
 .content_ul li{
   width: 370px;
   padding: 15px;
   box-sizing: border-box;
   align-items: flex-start;
 }
 .content_ul li .content_ul_con{
   width: 100%;
   box-shadow: 0 4px 16px rgba(0,0,0,.1);
   border-radius: 4px;
 }
 .content_ul_con_top{
   position: relative;
   height: 254px;
   border-bottom: 1px solid #dfdfdf;
 }
 .content_ul_con_top img{
   display: block;
   width: 100%;
   height: 100%;
 }
 .content_ul_con_top p {
   position: absolute;
   bottom: 10px;
   left: 10px;
   color: #ffffff;
 }
 .content_ul_con_top .ultop_title{
   margin-right: 5px;
 }
 .content_ul_con_bottom_top span{
   color: #333333;
   width: 50%;
   display: inline-block;
   vertical-align: middle;
 }
 .content_ul_con_bottom_top span:nth-of-type(1){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  text-align: left;
 }
 .content_ul_con_bottom_top span:nth-of-type(2){
  font-size: 14px;
  text-align: right;
  font-weight: 300;
}
.content_ul_con_bottom{
  padding: 12px 16px 16px;
  background-color: #fff;
}
.content_ul_con_bottom_middle p{
  height: 15px;
  line-height: 15px;
  color: #999;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content_ul_con_bottom_bottom{
  display: flex;
  justify-content: space-between;
}
.content_ul_con_bottom_bottom {
  margin-top: 10px;
}
.content_ul_con_bottom_bottom .openset{
  align-items: flex-start;
  width: 80%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #fff;
  cursor: pointer;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.045);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
  transition: all ease-in-out 0.2s;
  outline: none;
}
.content_ul_con_bottom_bottom .openset:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.img2{
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 38px;
  cursor: pointer;
}
.cadtit{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 4px 16px rgba(0,0,0,.1);
  line-height: 2rem;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(50,50,50,.6);
  text-decoration: none;
  cursor: pointer;
}
.cadtit:hover{
  background-color: #fff;
  color: rgba(50,50,50,.6);
}
.top_t{
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 2px solid #1890ff;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
}

.App-header{
  margin-top: 50px;
}
.content_ul_con_top p img{
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.6875rem;
}

.top_active{
  border-bottom: 2px solid #1890ff !important;
}

.top_qh {
  text-align: center;
}
.top_qh li{
  display: inline-block;
  
}
.top_qh li:nth-of-type(1){
  margin-right: 20px;
}

.top_tr span{
  margin-right: 15px;
}

.carimg{
  height: 254px;
}

.cartitle_top{
  /* height: 254px; */
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  position: relative;
}

.car_ul{
  display: flex;
   flex-wrap: wrap;
    justify-content: flex-start;
}
.cartitle_top_img{
  width: 100%;
  height: 254px;
}
.ant-card-body{
  padding: 0px !important;
}
.car_ul li{
  padding: 15px;
  box-sizing: border-box;
}
.car_ul .cartitle_top{
  position: relative;
}


.cartitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
}
.cartitle span{
  margin-right: 5px;
}


.cartitle_bottom_top span{
  color: #333333;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.cartitle_bottom_top span:nth-of-type(1){
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 font-size: 18px;
 text-align: left;
}
.cartitle_bottom_top span:nth-of-type(2){
 font-size: 14px;
 text-align: right;
 font-weight: 300;
}
.cartitle_bottom{
 padding: 12px 16px 16px;
 background-color: #fff;
}
.cartitle_bottom_middle p{
 height: 15px;
 line-height: 15px;
 color: #999;
 font-size: 12px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.cartitle_bottom_bottom{
 display: flex;
 justify-content: space-between;
}
.cartitle_bottom_bottom {
 margin-top: 10px;
}
.cartitle_bottom_bottom .openset{
 align-items: flex-start;
 width: 80%;
 height: 32px;
 line-height: 32px;
 text-align: center;
 padding: 0 15px;
 font-size: 14px;
 border-radius: 4px;
 color: rgba(0,0,0,.65);
 background-color: #fff;
 border: 1px solid #d9d9d9;
 color: #fff;
 cursor: pointer;
 background-color: #1890ff;
 border-color: #1890ff;
 text-shadow: 0 -1px 0 rgba(0,0,0,.12);
 -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.045);
 box-shadow: 0 2px 0 rgba(0,0,0,.045);
 transition: all ease-in-out 0.2s;
 outline: none;
}
.cartitle_bottom_bottom .openset:hover {
 color: #fff;
 background-color: #40a9ff;
 border-color: #40a9ff;
}
.img2{
 display: inline-block;
 vertical-align: middle;
 width: 32px;
 height: 38px;
 cursor: pointer;
}


.top_ul{
  margin-top: 0;
  margin-bottom: 0px;
}

.cardone{
  /* width: 334px; */
}
.sjlist{
  line-height: 50px;
  margin-top: 10px;
}
.sjlist select{
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  height: 30px;
}
.sjlist input{
  display: inline-block;
  vertical-align: middle;
  width: 79%;
  height: 30px;
}
.sjlist .sjlname{
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.bottom_btn{
  display: block !important;
  margin: 20px auto;
}
.sjk{
  float: left;
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}
.sjlname{
  float: left;
  width: 10%;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.sjk{
  margin-top: 10px;
}
.sjlist2{
  padding-bottom: 15px;
}
.cartitle a{
  color:#ffffff;
}


.radio_chang{
  text-align: center;
}
.tabnav{
  background-color: #ffffff;
  padding-left: 0px !important;
}

.hidden{
  display: none;
}
.block{
  display: block;
}
.car_ul{
  display: flex !important;
}

.rowmar{
  /* 上，左右，下 */
  margin: -12px -35px 0px !important;
  padding: 0px 0px;
  box-sizing: border-box;
}

.contentb{
  width: 90%;
  margin: auto;
}
.contentb .ant-row .ant-col:nth-last-child(1){
  height: 0px;
  height: 0px;
  padding: 0px !important;
}
.contentb .ant-row .ant-col:nth-last-child(2){
  height: 0px;
  height: 0px;
  padding: 0px !important;
}
.pagecont{
  text-align: center;
}


.searcha{
  width: 300px !important;
  display: inline-block;
  margin: auto;
}
.search_top{
  padding: 5px 0px;
  box-sizing: border-box;
  text-align: center;
}
.tabnav{
  width: 90%;
  margin: 5px auto !important;
}

.rowmar li{
  width: 300px;
  margin: auto;
}
.list_content{
  width: 90%;
  margin: auto !important;
}
.app_bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  color: #999;
  background: #d3d3d3;
  border-top: 1px solid #e9e9e9;
  width: 100%;
  
}
.app_bottom a{
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}
.app_bottom a:hover {
  color: #40a9ff;
}
.app_bottom span{
  margin-left: 10px;
}
/* 适应 */
@media screen and (max-width: 768px) {
  
  .sjlist .sjlname {
    width: 120px;
    display: block;
}
.sjlist2 .sjlname {
  width: 120px;
  display: block;
  margin-top: 10px;
}
.sjlist {
  line-height: 40px;
  margin-top: 10px;
}
.ant-select{
  display: block;
  margin-left: 10px !important;
}
.sjlist input {
  display: block;
  margin-left: 10px;
}
.sjlname {
  float: none;
  text-align: left;
}
.sjk{
  margin-left: 10px;
}
}